name: Push docker images
description: Push image to docker registry

inputs:
  name:
    description: Image name
    required: true
  version:
    description: Version to tag with

runs:
  using: composite
  steps:
  - name: Push image
    shell: bash
    run: |
      IMAGE_ID=ghcr.io/${{github.repository_owner}}/${{inputs.name}}
      [ "${{inputs.version}}" ] && docker tag ${{inputs.name}} $IMAGE_ID:${{inputs.version}}
      docker tag ${{inputs.name}} $IMAGE_ID:latest
      docker push -a $IMAGE_ID
