name: Mirror images to docker hub
run-name: Mirror ${{inputs.name}} to docker hub

on:
  workflow_dispatch:
    inputs:
      name:
        required: true
        type: string
      version:
        type: string

defaults:
  run:
    shell: bash

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
    - name: Pull ${{inputs.name}} from ghcr.io
      run: |
        IMAGE_ID=ghcr.io/${{github.repository_owner}}/${{inputs.name}}
        docker pull $IMAGE_ID:latest
        docker tag $IMAGE_ID:latest ${{inputs.name}}
    - name: Log in to docker hub registry
      run: echo "${{secrets.PAT_DOCKER_PUSH}}" | docker login -u ${{github.actor}} --password-stdin
    - name: Push ${{inputs.name}} to docker hub
      run: |
        IMAGE_ID=${{github.repository_owner}}/${{inputs.name}}
        [ "${{inputs.version}}" ] && docker tag ${{inputs.name}} $IMAGE_ID:${{inputs.version}}
        docker tag ${{inputs.name}} $IMAGE_ID:latest
        docker push -a $IMAGE_ID
