name: Run automated tasks

on:
  workflow_dispatch:
  schedule:
  - cron: "0 0 * * *"

defaults:
  run:
    shell: bash

jobs:
  build-mumble-server:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      actions: write
    env:
      IMAGE_NAME: mumble-server
    steps:
    - name: Check version
      run: |
        LATEST_VERSION="$(curl -s "https://dl-cdn.alpinelinux.org/alpine/edge/community/x86_64/APKINDEX.tar.gz" \
          | tar -xzO APKINDEX \
          | awk '/^P:${{env.IMAGE_NAME}}$/,/^V:/' \
          | grep '^V:' | tail -c +3 \
        )"
        echo "Latest ${{env.IMAGE_NAME}} package version is $LATEST_VERSION"
        echo "LATEST_VERSION=$LATEST_VERSION" >> $GITHUB_ENV
        [ x"$LATEST_VERSION" == x"${{vars.MUMBLE_SERVER_VERSION}}" ] && echo "LATEST=true" >> $GITHUB_ENV || :
    - name: Fetch auxiliary files
      if: ${{!env.LATEST}}
      run: |
        wget --quiet https://raw.githubusercontent.com/mumble-voip/mumble-docker/refs/heads/master/entrypoint.sh
        wget --quiet https://raw.githubusercontent.com/mumble-voip/mumble/refs/heads/master/auxiliary_files/mumble-server.ini
        chmod +x entrypoint.sh
    - name: Build image
      if: ${{!env.LATEST}}
      run: |
        docker run -d --rm --name build alpine:edge sleep infinity
        docker exec build apk add mumble-server coreutils bash sed su-exec
        docker exec build rm -rf /var/cache
        docker exec build mkdir /etc/mumble
        docker cp entrypoint.sh build:/entrypoint.sh
        docker cp mumble-server.ini build:/etc/mumble/bare_config.ini
        docker commit \
          -c 'LABEL org.opencontainers.image.source=https://github.com/mumble-voip/mumble' \
          -c 'EXPOSE 64738/tcp 64738/udp' \
          -c 'VOLUME ["/data"]' \
          -c 'ENTRYPOINT ["/entrypoint.sh"]' \
          -c 'CMD ["/usr/bin/mumble-server"]' \
          build $IMAGE_NAME
        docker stop -t0 build
    - name: Log in to registry
      if: ${{!env.LATEST}}
      run: echo "${{secrets.GITHUB_TOKEN}}" | docker login ghcr.io -u ${{github.repository_owner}} --password-stdin
    - name: Push image
      if: ${{!env.LATEST}}
      run: |
        IMAGE_ID=ghcr.io/${{github.repository_owner}}/$IMAGE_NAME
        docker tag $IMAGE_NAME $IMAGE_ID:${{env.LATEST_VERSION}}
        docker tag $IMAGE_NAME $IMAGE_ID:latest
        docker push -a $IMAGE_ID
    - name: Post push
      if: ${{!env.LATEST}}
      run: |
        export GH_REPO=${{github.repository}}
        GH_TOKEN=${{secrets.PAT_VARIABLES_ACCESS}} gh variable set MUMBLE_SERVER_VERSION --body "${{env.LATEST_VERSION}}"
        GH_TOKEN=${{secrets.GITHUB_TOKEN}} gh workflow run docker-hub-mirror.yml -f name=$IMAGE_NAME -f version=${{env.LATEST_VERSION}}

  build-prosody:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      actions: write
    env:
      IMAGE_NAME: prosody
    steps:
    - name: Check version
      run: |
        LATEST_VERSION="$(curl -s "https://dl-cdn.alpinelinux.org/alpine/edge/community/x86_64/APKINDEX.tar.gz" \
          | tar -xzO APKINDEX \
          | awk '/^P:${{env.IMAGE_NAME}}$/,/^V:/' \
          | grep '^V:' | tail -c +3 \
        )"
        echo "Latest ${{env.IMAGE_NAME}} package version is $LATEST_VERSION"
        echo "LATEST_VERSION=$LATEST_VERSION" >> $GITHUB_ENV
        [ x"$LATEST_VERSION" == x"${{vars.PROSODY_VERSION}}" ] && echo "LATEST=true" >> $GITHUB_ENV || :
    - name: Fetch auxiliary files
      if: ${{!env.LATEST}}
      run: |
        wget --quiet https://raw.githubusercontent.com/prosody/prosody-docker/refs/heads/master/configs/prosody-trunk.cfg.lua
        sed -i '1i run_as_root = true' prosody-trunk.cfg.lua
    - name: Build image
      if: ${{!env.LATEST}}
      run: |
        docker run -d --rm --name build alpine:edge sleep infinity
        docker exec build apk add prosody
        docker exec build rm -rf /var/cache
        docker exec build mkdir /etc/prosody/conf.d
        docker cp prosody-trunk.cfg.lua build:/etc/prosody/prosody.cfg.lua
        docker commit \
          -c 'LABEL org.opencontainers.image.source=https://hg.prosody.im/trunk/' \
          -c 'EXPOSE 80 443 5222 5269 5347 5280 5281' \
          -c 'VOLUME ["/var/lib/prosody"]' \
          -c 'ENV __FLUSH_LOG yes' \
          -c 'CMD ["/usr/bin/prosody", "-F"]' \
          build $IMAGE_NAME
        docker stop -t0 build
    - name: Log in to registry
      if: ${{!env.LATEST}}
      run: echo "${{secrets.GITHUB_TOKEN}}" | docker login ghcr.io -u ${{github.repository_owner}} --password-stdin
    - name: Push image
      if: ${{!env.LATEST}}
      run: |
        IMAGE_ID=ghcr.io/${{github.repository_owner}}/$IMAGE_NAME
        docker tag $IMAGE_NAME $IMAGE_ID:${{env.LATEST_VERSION}}
        docker tag $IMAGE_NAME $IMAGE_ID:latest
        docker push -a $IMAGE_ID
    - name: Post push
      if: ${{!env.LATEST}}
      run: |
        export GH_REPO=${{github.repository}}
        GH_TOKEN=${{secrets.PAT_VARIABLES_ACCESS}} gh variable set PROSODY_VERSION --body "${{env.LATEST_VERSION}}"
        GH_TOKEN=${{secrets.GITHUB_TOKEN}} gh workflow run docker-hub-mirror.yml -f name=$IMAGE_NAME -f version=${{env.LATEST_VERSION}}

  build-jami-daemon:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      actions: write
    env:
      IMAGE_NAME: jami-daemon
    steps:
    - name: Checkout jami-daemon repo
      run: |
        git clone --depth 1 https://git.jami.net/savoirfairelinux/jami-daemon.git
        LATEST_VERSION="$(TZ=UTC git -C jami-daemon show -s --pretty=%cd --date=format-local:%Y%m%d HEAD)"
        echo "Latest Jami daemon version is $LATEST_VERSION"
        echo "LATEST_VERSION=$LATEST_VERSION" >> $GITHUB_ENV
        [ x"$LATEST_VERSION" == x"${{vars.JAMI_DAEMON_VERSION}}" ] && echo "LATEST=true" >> $GITHUB_ENV || :
    - name: Build image
      if: ${{!env.LATEST}}
      working-directory: ./jami-daemon
      run: |
        docker build . --tag $IMAGE_NAME \
          --build-arg cmake_args=-DJAMI_NODEJS=ON \
          --label "org.opencontainers.image.source=https://git.jami.net/savoirfairelinux/jami-daemon.git"
    - name: Log in to registry
      if: ${{!env.LATEST}}
      run: echo "${{secrets.GITHUB_TOKEN}}" | docker login ghcr.io -u ${{github.repository_owner}} --password-stdin
    - name: Push image
      if: ${{!env.LATEST}}
      run: |
        IMAGE_ID=ghcr.io/${{github.repository_owner}}/$IMAGE_NAME
        docker tag $IMAGE_NAME $IMAGE_ID:${{env.LATEST_VERSION}}
        docker tag $IMAGE_NAME $IMAGE_ID:latest
        docker push -a $IMAGE_ID
    - name: Post push
      if: ${{!env.LATEST}}
      run: |
        export GH_REPO=${{github.repository}}
        GH_TOKEN=${{secrets.PAT_VARIABLES_ACCESS}} gh variable set JAMI_DAEMON_VERSION --body "${{env.LATEST_VERSION}}"
        GH_TOKEN=${{secrets.GITHUB_TOKEN}} gh workflow run docker-hub-mirror.yml -f name=$IMAGE_NAME -f version=${{env.LATEST_VERSION}}

  build-jami-web:
    needs: build-jami-daemon
    runs-on: ubuntu-latest
    permissions:
      packages: write
      actions: write
    env:
      IMAGE_NAME: jami-web
    steps:
    - name: Checkout jami-web repo
      run: |
        git clone --depth 1 https://git.jami.net/savoirfairelinux/jami-web.git
        LATEST_VERSION="$(TZ=UTC git -C jami-web show -s --pretty=%cd --date=format-local:%Y%m%d HEAD)"
        echo "Latest Jami web version is $LATEST_VERSION"
        echo "LATEST_VERSION=$LATEST_VERSION" >> $GITHUB_ENV
        [ x"$LATEST_VERSION" == x"${{vars.JAMI_WEB_VERSION}}" ] && echo "LATEST=true" >> $GITHUB_ENV || :
    - name: Pull daemon image
      if: ${{!env.LATEST}}
      run: |
        IMAGE_ID=ghcr.io/${{github.repository_owner}}/jami-daemon
        docker pull $IMAGE_ID:latest
        docker tag $IMAGE_ID:latest jami-daemon
    - name: Build image
      if: ${{!env.LATEST}}
      working-directory: ./jami-web
      run: |
        docker build . --tag $IMAGE_NAME \
          --target production \
          --label "org.opencontainers.image.source=https://git.jami.net/savoirfairelinux/jami-web.git"
    - name: Log in to registry
      if: ${{!env.LATEST}}
      run: echo "${{secrets.GITHUB_TOKEN}}" | docker login ghcr.io -u ${{github.repository_owner}} --password-stdin
    - name: Push image
      if: ${{!env.LATEST}}
      run: |
        IMAGE_ID=ghcr.io/${{github.repository_owner}}/$IMAGE_NAME
        docker tag $IMAGE_NAME $IMAGE_ID:${{env.LATEST_VERSION}}
        docker tag $IMAGE_NAME $IMAGE_ID:latest
        docker push -a $IMAGE_ID
    - name: Post push
      if: ${{!env.LATEST}}
      run: |
        export GH_REPO=${{github.repository}}
        GH_TOKEN=${{secrets.PAT_VARIABLES_ACCESS}} gh variable set JAMI_WEB_VERSION --body "${{env.LATEST_VERSION}}"
        GH_TOKEN=${{secrets.GITHUB_TOKEN}} gh workflow run docker-hub-mirror.yml -f name=$IMAGE_NAME -f version=${{env.LATEST_VERSION}}

  workflow-keepalive:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    permissions:
      actions: write
    env:
      GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
      GH_REPO: ${{github.repository}}
    steps:
    - name: Keepalive
      run: |
        WORKFLOW="${GITHUB_WORKFLOW_REF%@*}"
        gh workflow enable "${WORKFLOW##*/}"
