name: Run automated tasks

on:
  workflow_dispatch:
  schedule:
  - cron: "0 0 * * *"

defaults:
  run:
    shell: bash

jobs:
  build-prosody:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    env:
      PROSODY_PACKAGE: prosody-13.0
    steps:
    - name: Check version
      run: |
        LATEST_VERSION="$(curl -s http://packages.prosody.im/debian/dists/bookworm/main/binary-amd64/Packages.gz \
          | gunzip -c \
          | awk '/^Package: ${{env.PROSODY_PACKAGE}}$/,/^$/' \
          | grep '^Version:' | cut -d' ' -f2- | cut -d'~' -f1 \
        )"
        echo "Latest prosody package version is $LATEST_VERSION"
        echo "LATEST_VERSION=$LATEST_VERSION" >> $GITHUB_ENV
        [ x"$LATEST_VERSION" == x"${{vars.PROSODY_VERSION}}" ] && echo "LATEST=true" >> $GITHUB_ENV || :
    - name: Checkout prosody docker repo
      if: ${{!env.LATEST}}
      uses: actions/checkout@v6
      with:
        repository: prosody/prosody-docker
        path: prosody
    - name: Build image
      if: ${{!env.LATEST}}
      working-directory: ./prosody
      run: |
        docker build . --tag prosody \
          --build-arg PROSODY_PACKAGE=${{env.PROSODY_PACKAGE}} \
          --label "org.opencontainers.image.source=https://hg.prosody.im/trunk/"
    - name: Log in to registry
      if: ${{!env.LATEST}}
      run: echo "${{secrets.GITHUB_TOKEN}}" | docker login ghcr.io -u ${{github.actor}} --password-stdin
    - name: Push image
      if: ${{!env.LATEST}}
      run: |
        IMAGE_ID=ghcr.io/${{github.repository_owner}}/prosody
        GH_TOKEN=${{secrets.PAT_VARIABLES_ACCESS}} GH_REPO=${{github.repository}} gh variable set PROSODY_VERSION --body "${{env.LATEST_VERSION}}"
        docker tag prosody $IMAGE_ID:${{env.LATEST_VERSION}}
        docker tag prosody $IMAGE_ID:latest
        docker push -a $IMAGE_ID

  build-jami-daemon:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
    - name: Checkout jami-daemon repo
      run: |
        git clone --depth 1 https://git.jami.net/savoirfairelinux/jami-daemon.git
        LATEST_VERSION="$(TZ=UTC git -C jami-daemon show -s --pretty=%cd --date=format-local:%Y%m%d HEAD)"
        echo "Latest Jami daemon version is $LATEST_VERSION"
        echo "LATEST_VERSION=$LATEST_VERSION" >> $GITHUB_ENV
        [ x"$LATEST_VERSION" == x"${{vars.JAMI_DAEMON_VERSION}}" ] && echo "LATEST=true" >> $GITHUB_ENV || :
    - name: Build image
      if: ${{!env.LATEST}}
      working-directory: ./jami-daemon
      run: |
        docker build . --tag jami-daemon \
          --build-arg cmake_args=-DJAMI_NODEJS=ON \
          --label "org.opencontainers.image.source=https://git.jami.net/savoirfairelinux/jami-daemon.git"
    - name: Log in to registry
      if: ${{!env.LATEST}}
      run: echo "${{secrets.GITHUB_TOKEN}}" | docker login ghcr.io -u ${{github.actor}} --password-stdin
    - name: Push image
      if: ${{!env.LATEST}}
      run: |
        IMAGE_ID=ghcr.io/${{github.repository_owner}}/jami-daemon
        GH_TOKEN=${{secrets.PAT_VARIABLES_ACCESS}} GH_REPO=${{github.repository}} gh variable set JAMI_DAEMON_VERSION --body "${{env.LATEST_VERSION}}"
        docker tag jami-daemon $IMAGE_ID:${{env.LATEST_VERSION}}
        docker tag jami-daemon $IMAGE_ID:latest
        docker push -a $IMAGE_ID

  workflow-keepalive:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
    - run: GH_REPO=${{github.repository}} gh workflow enable "${GITHUB_WORKFLOW##*/}"
