name: Run automated tasks

on:
  workflow_dispatch:
  schedule:
  - cron: "0 0 * * *"

defaults:
  run:
    shell: bash

jobs:
  build-prosody:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
    - name: Checkout prosody docker repo
      uses: actions/checkout@v6
      with:
        repository: prosody/prosody-docker
        path: prosody
    - name: Build image
      working-directory: ./prosody
      run: docker build . --file Dockerfile --tag prosody
    - name: Log in to registry
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
    - name: Push image
      run: |
        IMAGE_ID=ghcr.io/${{ github.repository_owner }}/prosody
        docker tag prosody $IMAGE_ID:latest
        docker push $IMAGE_ID:latest

  workflow-keepalive:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
    - uses: liskin/gh-workflow-keepalive@v1
